@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Fredoka:wght@300..700&family=Oi&display=swap');

.page
{
    display: grid;
    grid-template-rows: 50px 1fr;
    font-family: "Fredoka", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1
{
    margin: 0;
    cursor: pointer;
    margin: 4px;
    margin-left: 9px;
}

.top
{
    background-color:lightsteelblue;
    border-bottom: 5px solid black;
}

body
{
    margin: 0;
}

.project-IMG
{
    width: 200px;
}

.projects
{
    margin: 20px;
}

h2
{
    margin: 0;
}